{% extends 'base.html.twig' %}

{% block title %}Recruitment index{% endblock %}

{% block body %}
    <h1>Recruitment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>ExpectedSalary</th>
                <th>Position</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recruitment in recruitments %}
            <tr>
                <td>{{ recruitment.id }}</td>
                <td>{{ recruitment.name }}</td>
                <td>{{ recruitment.lastName }}</td>
                <td>{{ recruitment.email }}</td>
                <td>{{ recruitment.phoneNumber }}</td>
                <td>{{ recruitment.expectedSalary }}</td>
                <td>{{ recruitment.position }}</td>
                <td>{{ recruitment.level }}</td>
                <td>
                    <a href="{{ path('app_recruitment_show', {'id': recruitment.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recruitment_new') }}">Create new</a>
{% endblock %}
